/* This is the body tag */
html, body {
    margin: 0px;
    color: white;
    background-color: rgb(1, 1, 20);
    font-family: Arial, sans-serif;
}

/* Here is the Nav Bar contains search Input Box, Wishlist and Profile */
nav{
    background-color: rgb(1, 1, 32);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

/* Here is the Nav container */
#nav_container{
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
}

/* This is the IMDB Logo */
#logo img{
    width: 80px;
    margin-top: 6px;
}

/* This is the Search Container */
.searchContainer{
    position: relative;
    height: 20vh;
    max-width: 600px;
    margin: auto;
}

/* This is the Magnifying Glass */
.searchContainer i{
    position: absolute;
    margin-left: 41.5rem;
    color: black;
    margin-top: -37px;
    font-size: 1.4rem;
}

/* Here is the Search Input Box */
#searchInput{
    width: 42vw;
    height: 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 500px;
    padding: 10px 20px;
    margin: 5px 20px;
}

/* This is the Dropdown Menu */
#searchDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 51px;
    background-color: #070921;
    box-shadow: 2px 1px 3px 1px rgba(255, 255, 255, 0.255);
    margin-left: 38px;
    visibility: hidden;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

/* Dropdown search input  */
#searchDropdown a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin: 5px;
}

/* This is the Profile section contains wsihlist and dummy sign in */
#profile{
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    margin-top: -6rem;
    font-size: 1.1rem;
}

/* This is the Wishlist */
#like{
    border-right: 1px solid lightgrey;
    padding-right: 25px;
}

/* This is to show Wishlist */
#viewFavoritesButton{
    color: lightgrey;
    text-decoration: none;
}

/* Main Section Contains all the searched information */
main{
    display: inline-block;
    background-color:rgb(197, 169, 56);
}

/* Movie List */
#movieList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

/* Movie Card */
.movie {
    width: 20%;
    margin: 15px;
}

/* Movie Container */
.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 1px 65px;
    border: 1px solid #02033d;
    padding-bottom: 15px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 2px 4px 2px black;
}

/* Movie Wrapper */
.wrapper {
    width: 100%;
    height: 100%;
}

/* Movie Poster */
.banner-image {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 1px 65px;
    border-bottom: 1px solid #01010c;
}

/* Movie Title */
h1{
    font-family: sans-serif;
    color: rgba(255,255,255,0.98);
    margin-left: 2px;
    text-transform: uppercase;
    font-size: 2.4rem;
}

/* Movie Year */
#year{
    font-size: 1.5rem;
    color: rgb(1, 1, 20);
}

/* Style to all the Information text */
p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2px;
}

/* Wrapper Button */
.button-wrapper{
    margin-top: 18px;
}

/* All the buttons */
.btn {
  border: none;
  padding: 12px 18px;
  border-radius: 24px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

/* Margin between Buttons */
.btn + .btn {
  margin-left: 35px;
}

/* Button Outline */
.outline {
      background: transparent;
      color: #040404;
      transition: all .3s ease;
      box-shadow: 4px 2px 4px 4px black;
      border-radius: 0px 20px
}

/* Button text */
.outline{
  color: #6f610f;
  text-decoration: none;
}

/* Favourite Icon */
.fa-heart{
  font-size: 1rem;
  color: #6f610f;
}

/* Bottun Hover Property */
.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

/* Buttons Inner Porperty */
.fill {
    background: rgb(1, 1, 32);
    color: white;
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
    border-radius: 0px 18px;
    box-shadow: 5px 5px 5px 5px blac;
    box-shadow: 4px 2px 4px 4px black;
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;
}

/* Icons Hovering Property */
.fa-heart:hover{
  color: rgba(255, 255, 255, 0.9); 
  transition: all .3s ease;
}
