/* This is the body tag */
html, body{
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    color: whitesmoke;
    background-color: rgb(1, 1, 20);
}

/* Here is the Nav container */
#nav_container{
    padding: 15px 60px;
}

/* This is the IMDB Logo */
#logo img{
    width: 80px;
    margin-top: 6px;
    margin-left: -55px;
}

/* This is for the movie Poster  */
#moviePoster{
    height: 50%;
    width: 40%;
    border: 2px solid #020233;
    border-radius: 1px 170px;
}

/* This is for the Movie name  */
.movie-name{
    width: 58%;
    margin-left: auto;
    text-align: justify;
    font-size: 1.5rem;
    margin-top: -600px;
}

/* This is for the MOvie name  */
#title{
    font-size: 5rem;
    font-weight: 500;
    color: #6e6732;
}

/* This is for the Movie Plot  */
#plot{
    color: #6e6732;
}

/* This is for the Movie Rating  */
#rating{
    font-size: 1rem;
}